<div class="container">
    <div class="vs-buttons">
        <div class="vs-import">
            <input hidden  type='file' #dmsbtn accept=".xls" (change)="uploadFile($event)">
            <button mat-raised-button color="primary" (click)="dmsbtn.click()">Import fichier sales</button>
        </div>
        
        <mat-form-field>
            <mat-select [disabled]="!salesmanList.length" (selectionChange)="selectVendor($event)"  placeholder="Choisir salesman" multiple>
                <mat-option *ngFor="let vendor of salesmanList" [value]="vendor">
                    {{vendor}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <div class="vs-import">
            <button class="group-sales" mat-raised-button color="primary" (click)="download()" [disabled]="!sales.length">Download Single Files</button>
            <button class="group-sales" mat-raised-button color="primary" (click)="downloadGroupedSales()" [disabled]="!sales.length">Download Grouped Sales</button>
        </div>
    </div>
</div>
<div *ngIf="retours.length">
    <h3>Les retours a faire manuellement sur systeme(ERP)</h3>
    <table  mat-table [dataSource]="retours" class="mat-elevation-z8">

        <ng-container matColumnDef="vendeur">
            <th mat-header-cell *matHeaderCellDef> Vendeur </th>
            <td mat-cell *matCellDef="let element"> {{element.vendeur}} </td>
        </ng-container>
      
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>
      
        <ng-container matColumnDef="unitPrice">
          <th mat-header-cell *matHeaderCellDef> Unit Price </th>
          <td mat-cell *matCellDef="let element"> {{element.unitPrice}} </td>
        </ng-container>
    
        <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef> Total Price </th>
            <td mat-cell *matCellDef="let element"> {{element.totalPrice}} </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>        
</div>
